- load i18n
- load humanize
- load utils
- load items

h2 Price
.uk-margin
    item-chart(
        name="{{ object.get_symbol_slug }}"
        url="{% url 'etfs:etf_fetch' object.pk %}"
        height="410"
        symbol="{{ object.item.symbol }}"
        :indexes=(object.indexes_as_symbols() if object.indexes else None),
        :transactions="true"
        :smas="true"
        :ranges="{{ ranges }}"
    )

.uk-margin
    item-chart(
        name="{{ object.get_symbol_slug }}-percents",
        url="{% url 'etfs:etf_fetch' object.pk %}",
        height="410",
        symbol="{{ object.item.symbol }}",
        :indexes=(object.indexes_as_symbols() if object.indexes else None),
        :transactions="true",
        :percents="true",
        :ranges="{{ ranges }}"
    )
        
.uk-margin
    - include "_item_detail_transactions.pug"
