- load i18n

h2 {% trans "Price linear regression" %}
div(class="uk-child-width-expand-1-1@s uk-child-width-1-2@m" uk-grid)
    static-chart(url="{% url 'shares:chart_linear_regression' object.pk %}", :has-form="true")
