// Draws one table and 2 charts
//
// Table:
//  * Investment/Markt value
//  * Profit
//  * Profit (%)
//
// Bar chart - investment vs. profit/market
// Pie chart - amount of investment by symbol

- load utils
- load i18n
- load humanize

- for type, currency_data in basic_stats_data.investment_and_revenue.items

    h2 {{ type|title }}

    ul(uk-tab="swiping: false" uk-switcher)
        - for currency, _ in currency_data.items
            li: a(href="#") {{ currency }}

    ul.uk-switcher.uk-margin
        - for currency, inv_and_rev_data in currency_data.items
            li
                div(class="uk-child-width-1-1@s uk-child-width-1-2@m" uk-grid)
                    div
                        - with text_stats=basic_stats_data.text|lookup:type|lookup:currency
                            - for label, value in text_stats.items
                                .uk-grid-small(uk-grid)
                                    .uk-width-expand(uk-leader) {{ label }}
                                    div
                                        - if "coin" == type
                                            | {{ value|coinautofloatformat }}
                                        - else
                                            | {{ value|autofloatformat }}

                    div
                        chart(
                            name="transactions-investment-and-revenue-bar-{{ currency }}-{{ type }}"
                            :is-stock="false"
                            :is-coin=("true" if "coin" == type else "false")
                            type="column"
                            height="200"
                            options="{{ inv_and_rev_chart_options|to_json }}"
                            :series="{{ inv_and_rev_data|to_json }}"
                        )
                div
                    h3 {% trans "Profits" %}
                    chart(
                        name="transactions-profits-pie-{{ currency }}-{{ type }}",
                        :is-stock="false",
                        :is-coin=("true" if "coin" == type else "false")
                        type="pie",
                        height="300",
                        :series="{{ basic_stats_data.profit|lookup:type|lookup:currency|to_json }}"
                    )
