//- Takes following params
//- - items - list of items for the table
//- - possesion_stats - percentage possesions for each item
//- - is_open - flag signalizing if the given items are open positions

- load i18n
- load items
- load utils

table.uk-table.uk-table-small.uk-table-divider.uk-table-striped.uk-table-hover
    thead
        tr
            th {% trans "Symbol" %}
            - if is_open
                th {% trans "Allocation" %}
            th {% trans "Price" %}
            th {% trans "Day move" %}
            th {% trans "Week move" %}
            th {% trans "Month move" %}
            th(title="{% trans 'Dashboard/News/Overview' %}") {% trans "D/N/O" %}
            th
            th
            th
    tbody
        - for i in items
            - ifchanged i.is_archived
                - if i.is_archived
                    tr
                        td(colspan="10"): h4 {% trans "Archived" %}
            tr
                td
                    a(href="{% url 'coins:coin_detail' i.pk %}", title="{% trans 'Coin detail' %}")
                        | {{ i.item.symbol }}
                - if is_open
                    td
                        .meter
                            .with-prefix
                                - with percentage=possesion_stats|lookup:i.item.symbol 
                                    div {{ percentage|coinautofloatformat }} %
                                    div
                                        meter.uk-progress(min="0" max="100" value="{{ percentage }}")
                td {{ i.item.get_last_price.price|coinautofloatformat }}
                td
                    - with change=i.item.get_last_day_perc_change
                        {{ change|move_arrow }} {{ change|coinautofloatformat }} %
                td
                    - with change=i.item.get_last_week_perc_change
                        {{ change|move_arrow }} {{ change|coinautofloatformat }} %
                td
                    - with change=i.item.get_last_month_perc_change
                        {{ change|move_arrow }} {{ change|coinautofloatformat }} %
                td
                    - if i.show_on_dashboard
                        i.bi.bi-check2
                    - else
                        i.bi.bi-ban
                    | &nbsp;

                    - if i.show_in_news
                        i.bi.bi-check2
                    - else
                        i.bi.bi-ban
                    | &nbsp;

                    - if i.show_in_overview
                        i.bi.bi-check2
                    - else
                        i.bi.bi-ban
                td
                    a(href="{% url 'coins:delete_coin' i.pk %}", title="{% trans 'Delete coin' %}")
                        i.bi.bi-trash
                td
                    a(href="{% url 'coins:update_coin' i.pk %}", title="{% trans 'Update coin' %}")
                        i.bi.bi-pencil
                td
                    a(href="{% url 'coins:reset_coin' i.pk %}", title="{% trans 'Reset coin' %}")
                        i.bi.bi-arrow-repeat
