- extends "core/base.pug"

- load i18n
- load widget_tweaks


- block content

    - include "_title_bc.pug" with title=object.symbol
    
    .uk-text-right
        a.uk-button.uk-button-primary(href="{% url 'core:the_eye' object.item.symbol %}" class="uk-width-expand@s uk-width-auto@m")
            i.bi.bi-bank
            | 
            | {% trans "market live" %}
        | &nbsp;
        button.uk-button.uk-button-primary(class="uk-width-expand@s uk-width-auto@m" type="button")
            i.bi.bi-plus
            | 
            | {% trans "new" %}
        div(uk-drop uk-dropdown="mode: click; shift: false; flip: false")
            ul.uk-nav.uk-dropdown-nav
                li: a(href="{% url 'transactions:open' %}?new={{ object.item.pk }}") {% trans "transaction" %}
                li: a(href="{% url 'staking:open' %}?new={{ object.item.pk }}") {% trans "staking" %}
        | &nbsp;
        a.uk-button.uk-button-primary(href="{% url 'coins:update_coin' object.pk %}" class="uk-width-expand@s uk-width-auto@m")
            i.bi.bi-pencil
            | 
            | {% trans "update" %}

    ul(uk-tab="swiping: false" uk-switcher)
        li: a(href="#") {% trans "info" %}
        li: a(href="#") {% trans "news" %}
        li: a(href="#") {% trans "trends" %}
        // li: a(href="#") {% trans "predictions" %}

    ul.uk-switcher.uk-margin
        li
            - include "_item_basic_info.pug" with object=object
            - include "coins/detail/_basic.pug"
        li
            ul(uk-tab="swiping: false" uk-switcher)
                li: a(href="#") {% trans "articles" %}
                li: a(href="#") {% trans "videos" %}
            ul.uk-switcher.uk-margin
                li: news(symbol="{{ object.item.symbol }}" from="{{ news_from }}" to="{{ news_to }}")
                li: news(symbol="{{ object.item.symbol }}" from="{{ news_from }}" to="{{ news_to }}" :videos="true")
        li
            - include "coins/detail/_trends.pug"
        // li
        //     - include "coins/detail/_predictions.pug"
