- load i18n
- load widget_tweaks


p.uk-text-right
    button.uk-button.uk-button-primary(type="button" class="uk-width-expand@s uk-width-auto@m" uk-toggle="target: #edit-trends")
        i.bi.bi-pencil
        | 
        | {% trans "edit trends" %}

- if trend_google_options
    h2 {% trans "Google keyword trends" %}
    highcharts(:options="{{ trend_google_options }}")

aside#edit-trends(uk-modal)

    .uk-modal-dialog.uk-modal-body
        h2.uk-modal-title {% trans "Edit trends" %}
        form(method="post", action="{% url 'trends:update' object.pk %}")
            - csrf_token
            - include "_form_field.pug" with field=trends_form.keywords
            - include "_form_field.pug" with field=trends_form.since is_datepicker=True

            p.uk-text-right(class="uk-child-width-1-1 uk-child-width-auto@m")
                button.uk-button.uk-button-default.uk-modal-close.uk-margin-bottom(type="button") {% trans "cancel" %}
                | &nbsp;
                a.uk-button.uk-button-primary.uk-margin-bottom(href="{% url 'trends:delete' object.item.pk %}") {% trans "delete" %}
                button.uk-button.uk-button-primary.uk-margin-bottom(type="submit") {% trans "save" %}
