- extends "core/base.pug"

- load i18n
- load utils
- load items

- block content

    - trans "performance" as subtitle
    - include "_title_bc.pug" with title=object.item.symbol|add:" "|add:subtitle

    highcharts(:constructor-type="'stockChart'" :options="{{ performance_chart_options|to_json }}")
    
    table.uk-table.uk-table-small.uk-table-divider.uk-table-striped
        thead
            tr
                th {% trans "Year" %}
                th {% trans "Price range" %}
                th {% trans "Median" %}
                th {% trans "Gain/Loss" %}
        tbody
            - for year in annual_performance
                tr
                    td {{ year.year }}
                    td
                        - if object.item.is_coin
                            | {{ year.low|coinautofloatformat }} - {{ year.high|coinautofloatformat }}
                        - else
                            | {{ year.low|autofloatformat }} - {{ year.high|autofloatformat }}
                    td 
                        - if object.item.is_coin
                            | {{ year.median|coinautofloatformat }}
                        - else
                            | {{ year.median|autofloatformat }}
                    td
                        {{ year.perc_change|move_arrow }}

                        - if object.item.is_coin
                            | {{ year.perc_change|coinautofloatformat }}%
                        - else
                            | {{ year.perc_change|autofloatformat }}%
