{% load utils %}

<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>

{% if widget.value %}
    <ul class="uk-list">
        {% for file in widget.value %}
            <li>
                <i class="bi bi-paperclip"></i>
                <a href="{{ file.file.url }}" target="_blank">{{ file.file.name|filename }}</a>

                {% if delete_url_pattern %}
                    <a href="{% url delete_url_pattern file.pk %}" class="uk-margin-left">
                        <i class="bi bi-trash"></i>
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
