- load i18n
- load items
- load utils

span#move-icon(title="{% trans 'Current market move' %}") {% get_price_status_icon price %}

- if is_coin
    span#move-value {{ price.change_percents|move_arrow }} {{ price.change_percents|coinautofloatformat|default:"-" }}%
- else
    span#move-value {{ price.change_percents|move_arrow }} {{ price.change_percents|autofloatformat|default:"-" }}%
