- load sitetree


ul.uk-nav.uk-nav-default
    - for item in sitetree_items
    
        li.uk-parent(class="{% if item.is_current or item.in_current_branch %}uk-active{% endif %}")
            a(href="{% sitetree_url for item %}")
                i.bi.uk-margin-small-right(class="bi-{{ item.icon }}")
                | {{ item.title_resolved }}

            - if item.is_current or item.in_current_branch
                - if item.has_children
                    - sitetree_children of item for menu template "_submenu.pug"
