- extends "core/base.pug"

- load i18n

- block content

    - include "_title_bc.pug"

    form(method="post" enctype="multipart/form-data")
        - csrf_token
        - include "staking/_staking_form.pug"

        p.uk-text-right(class="uk-child-width-1-1 uk-child-width-auto@m")
            button.uk-button.uk-button-default.uk-modal-close(type="button") {% trans "close" %}
            | &nbsp;
            button.uk-button.uk-button-primary(type="submit") {% trans "save" %}
