<template lang="pug">

.chart(:style="{height: height + 'px'}")
    div(:style="{height: height + 'px'}", :id="'chart-' + name", @reflow="reflow", v-if="data.length")
    loading(ref="loading" :in-container="true")

</template>


<script>

import loading from "./loading.vue"
import merge from "deepmerge"


export default {
    components: {
        loading,
    },
    props: {
        name: {required: true},
        height: {required: true},
        url: {default: null},
        type: {default: "line"},
        isStock: {default: true},
        isCoin: {default: false},
        options: {default: ""},
        series: {default: null},
    },

    data() {
        return {
            chart: null,
            data: [],
        }
    },

    mounted() {

        if (this.url)
            this.fetch()

        else if (this.series) {

            this.data = this.series
            this.render()
        }
    },

    methods: {

        /**
         * Fetches chart data from server and renders the chart.
         * Also turns off loading indicator once data is loaded.
         */
        fetch() {

            this.$refs.loading.start()

            fetch(this.url)
                .then(response => response.json())
                .then(response => {

                    if (response.status) {

                        this.data = response.data

                        if (this.data.length)
                            this.render()
                    }
                })
                .finally(() => this.$refs.loading.stop())
        },

        render() {

            var options = {}

            // Destroy old chart, free the memory.
            if (this.chart)
                this.chart.destroy()

            this.$nextTick(function() {

                if (this.isStock)
                    this.chart = new Highcharts.StockChart("chart-" + this.name, this.getOptions())
                else
                    this.chart = new Highcharts.Chart("chart-" + this.name, this.getOptions())
            })
        },

        /**
         * Rerurns exporting options incluging custom buttons.
         * No option at all for "pie" and "column" type charts.
         */
        getExportingOptions() {

            if (["pie", "column"].includes(this.type))
                return {}

            return {
                buttons: {
                    reset: {
                        text: "-",
                        onclick: function() {
                            this.update({
                                "plotOptions": {
                                    "series": {
                                        "dataGrouping": {
                                            enabled: false
                                        }
                                    }
                                }
                            })
                        },
                        theme: {
                            fill: "#f7f7f7"
                        }
                    },
                    byWeek: {
                        text: "G:W",
                        onclick: function() {
                            this.update({
                                "plotOptions": {
                                    "series": {
                                        "dataGrouping": {
                                            approximation: "average",
                                            enabled: true,
                                            forced: true,
                                            units: [
                                                ["week", [1]]
                                            ]
                                        }
                                    }
                                }
                            })
                        },
                        theme: {
                            fill: "#f7f7f7"
                        }
                    },
                    byMonth: {
                        text: "G:M",
                        onclick: function() {
                            this.update({
                                "plotOptions": {
                                    "series": {
                                        "dataGrouping": {
                                            approximation: "average",
                                            enabled: true,
                                            forced: true,
                                            units: [
                                                ["month", [1]]
                                            ]
                                        }
                                    }
                                }
                            })
                        },
                        theme: {
                            fill: "#f7f7f7"
                        }
                    }
                }
            }
        },

        /**
         * Mixes given options via props with
         * some basic setup.
         */
        getOptions() {

            let options = {
                title: "",
                tooltip: {valueDecimals: this.isCoin ? window.settings.COINS_MAX_PRECISION : window.settings.MAX_PRECISION},
                chart: {
                    type: this.type,
                },
                exporting: this.getExportingOptions()
            }

            if (this.options) {
                let evalued = eval("(" + this.options + ")")
                options = merge(options,  evalued)
            }

            options = Object.assign(options, {
                title: "",
                series: this.data,
            })

            return options
        },

        /**
         * Reflows chart on the page - fixes render glitches.
         */
        reflow() {
            this.chart.reflow()
            this.show()
        },
    }
}
</script>
