<template lang="pug">

span.richy-hand(v-on:click="refresh")
    span {{ value }}
    span
        loading(ref="loading" :no-text="true")

</template>


<script>

import loading from "./loading.vue"

export default {
    components: {
        loading,
    },
    props:{
        symbol: {default: null},
        defaultValue: {default: null},
        moveId: {default: null}
    },
    data() {
        return {
            value: null,
        }
    },
    methods: {
        /**
         * Downloads data from server and fill in current price (local value) and
         * HTML containing market state, move arrow and percentage change (foreign value).
         */
        refresh() {

            this.$refs.loading.start()

            fetch("/core/item/"+this.symbol+"/current-price/")
            .then(response => response.json())
            .then(response => {
                if (response.status) {
                    this.value = response.data.value

                    document.getElementById(this.moveId).innerHTML = response.data.moveHtml
                }
            })
            .finally(() => this.$refs.loading.stop())
        }
    },
    created() {
        this.value = this.defaultValue
    }
}

</script>
