<template lang="pug">
span.loading(:class="[{'in-container': inContainer}]")
    span(v-if="loading")
        i.bi.bi-arrow-clockwise
        | 
        span(v-if="!noText") {{ $t("loading") }}...
</template>

<script>
export default {
    props: {
        inContainer: false,
        noText: false
    },
    data() {
        return {
            loading: false,
        }
    },
    methods: {
        start() {
            this.loading = true
        },
        
        stop() {
            this.loading = false
        }
    },
}
</script>
