<template lang="pug">

.the-eye

    div(v-if="data.length")
        .meter
            .min {{ min.formatted }}
            .max {{ max.formatted }}
            meter.uk-progress(:min="min.value" :max="max.value" :value="last")
        #chart(style="height: 410px" @reflow="reflow")
    div(v-if="noData") {{ $t("no-data") }}
    
    loading(ref="loading")


</template>


<script>

import loading from "./loading.vue"

export default {
    components: {
        loading,
    },
    data() {
        return {
            data: [],
            noData: false,
            chart: null,
            symbol: null,
            open: null,
            min: null,
            max: null,
            close: null,
        }
    },

    methods: {

        fetch() {

            this.$refs.loading.start()
            fetch("fetch/")
                .then(response => response.json())
                .then(response => {

                    if (response.status) {

                        this.symbol = response.data.symbol
                        this.data = response.data.prices
                        this.min = response.data.min
                        this.max = response.data.max

                        // Open market threshold?
                        if (response.data.open)
                            this.open = response.data.open
                        
                        // Close market threshold?
                        if (response.data.close)
                            this.close = response.data.close
                        
                        if (this.data.length)
                            this.render()
                    }
                    else {
                        this.noData = true 
                    }
                })
                .finally(() => this.$refs.loading.stop())
        },

        render() {

            // Destroy old chart, free the memory.
            if (this.chart)
                this.chart.destroy()
            
            let options = {
                chart: {
                    type: "candlestick",
                    zooming: {type: "x"}
                },
                rangeSelector: {
                    "buttons": [
                        {
                            type: "hour",
                            count: 1,
                            text: "1h",
                        },
                        {
                            type: "all",
                            text: "All",
                        }
                    ]
                },
                series: [{
                    type: "candlestick",
                    name: this.symbol,
                    data: this.data,
                }],
                plotOptions: {
                    candlestick: {
                        upColor: "#00c853",
                        color: "#d50000"
                    }
                }
            }

            if (this.open)
                options["xAxis"] = {
                    "plotLines": [{
                        color: "#aaaaaa",
                        width: 1,
                        value: this.open,
                        zIndex: 3,
                        label: {
                            text: this.$t("market-open"),
                        }
                    }]
                }
            
            if (this.close) {

                if (!options.xAxis)
                    options["xAxis"] = {"plotLines": []}

                options["xAxis"]["plotLines"].push({
                    color: "#aaaaaa",
                    width: 1,
                    value: this.close,
                    zIndex: 3,
                    label: {
                        text: this.$t("market-close"),
                    }
                })
            }

            this.$nextTick(function() {
                this.chart = new Highcharts.StockChart("chart", options)
            })
        },

        /**
         * Reflows chart on the page - fixes render glitches.
         */
        reflow() {
            this.chart.reflow()
            this.show()
        },
    },

    mounted() {

        this.fetch()
        setInterval(() => {
            this.fetch()
        }, 1000 * 60 * 5); // 5 mins
    },

    computed: {

        last() {

            return this.data.slice(-1)[0]["open"]
        },
    }
}

</script>
